<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Chicago Crime Map </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/style.css" media="screen">
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
</head>

<body>
<div id='header-wrapper'>	
	<header>
		<h1>
			<a title="Return to the Homepage" href='#'>Chicago Crime Maps</a>
		</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Maps</a>
					<ul>
						<li><a href={% url 'markermap' %}>MarkerMap</a></li>
						<li><a href={% url 'heatmap'%}>Heatmap</a></li>
					</ul>
				</li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</header>
</div>
</body>
</html>
