<!DOCTYPE html>
<html>
  <head>
    <title>Maps Engine Layer</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        margin: 10;
        padding: 10;
        height: 100%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
    <script>

var message = "{{obj}}";
alert(message);

    </script>
  </head>

  <body>
    
  </body>
</html>