{% include "header.html" %}

<!DOCTYPE html>
<html>
<head>
  {% block header%}
  {% endblock header %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Info windows</title>
  <script>
  var js_objects = {{objects|safe}};
  var neighborhood_obj = {{neighborhood|safe}}  
  var marker, point;
  var infowindow;
  var neighborhoodNames = Object.keys(neighborhood_obj);
  google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</head>
<body>
  <div id="content-wrapper">
    <div id="content">
      <section id="map_canvas" class='style'></section> 
      <div class="search-bar">
      <form id="searchbox" action="">
        
        <p class="select-search"> Select a neighborhood: </p>
        <input id="search" type="text" class="noEnterSubmit" placeholder="Type here" >
        <input id="submit" type="button" value="search">
      
      </form>
      </div>
    </div>
  </div>
</body>
</html>