{% include "header.html" %}

<!DOCTYPE html>
<html>
<head>
  {% block header%}
  {% endblock header %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Info windows</title>
  <script>
  var js_objects = {{objects|safe}};
  var marker, point;
  var infowindow;
  google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</head>
<body>
  <div id="content-wrapper">
    <div id="content">
      <section id="map_canvas" class='style'></section> 
      <section id="checkbox" >
        <form name = "check_crime">
        <p>Select by category of crimes:  </p>
        <br/>
        <p><input type="checkbox" name="crime" value='THEFT'/> Theft</p>
        <input type="checkbox" name="crime" value='CRIMINAL DAMAGE'/> Criminal Damage
        <input type="checkbox" name="crime" value='BATTERY'/> Battery</p>
        <p><input type="checkbox" name="crime" value='BURGLARY' /> Burglary
        <input type="checkbox" name="crime" value='ARSON'/> Arson
        <input type="checkbox" name="crime" value='ASSAULT'/> Assault
        <input type="checkbox" name="crime" value='HOMICIDE'/> Homicide</p>
        <p><input type="checkbox" name="crime" value='CRIMINAL TRESPASS'/>Criminal Trespass</p>
        <br/>
        <p><input class='btn' type="button" value="Submit" onclick="submitCrimes(check_crime.crime)" /></p>
        </form>
      </section>
    </div>
  </div>
  

</body>
</html>