{% include "header.html" %}

<!DOCTYPE html>
<html>
<head>
  {% block header%}
  {% endblock header %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Info windows</title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script>
  var js_objects = {{objects|safe}};
  var marker, point;
  var infowindow;

  function createMarker(point, map, primary_type) {
    var marker = new google.maps.Marker({
          position: point,
          map: map,
    });

    google.maps.event.addListener(marker, 'click', function() {
        if (infowindow) {
           infowindow.close();
        };
        infowindow = new google.maps.InfoWindow({
            content: primary_type,
        });
        infowindow.open(map, marker);
    });
  }

  function initialize(){
      var map_canvas = document.getElementById('map_canvas');
      var map_options = {
        center: new google.maps.LatLng(41.87, -87.62),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(map_canvas, map_options);
      

      for (var i = 0; i < js_objects.length; i++){
        var point = new google.maps.LatLng(js_objects[i][0], js_objects[i][1]);
        var primary_type = js_objects[i][2];

        createMarker(point, map, primary_type);

      }
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</head>
<body>
  <div id="map_canvas" class='style'></div> 
</body>
</html>