body, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
}

body {
	margin: 1% 1% 0 1%;
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    line-height: 20px;
	font-family: courier;
	font-size: 18px;
}

a{
	text-decoration: none;
}

#window-content{
	text-align: left;
	width: 200px;
	text-align: left;
}

#firstHeading{
	font-family: tahoma;
	margin: 0 auto;
}
/****************************************************/
/*  Header                                          */
/****************************************************/

#header-wrapper{
	width: 100%;
	text-align: center;
	height: 186px;
}

header{
	margin: 0 auto;
	overflow: hidden;
	height: 185px;
	text-align: center;
	width: 95%;
}

/* Logo */
#logo-wrapper{
	display: block;
	width: 273px;
	text-align: center;
	margin-left: 20px;
	position: absolute;

}

img.medium{
	width: 273px;
	height: 100px;
	margin: 0px auto;
}

#logo-image{
	margin: 0px auto;
	border: 5px black solid;
	border-left: 0px;
	border-right: 0px;

}

#title-wrapper{
	width: 273px;
	height:	70px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	top: 0px;
}

header div div p{
	font-family: courier;
}
p.big-title{
	font-size: 64px;
	font-style: bold;
	padding-bottom: 2px;
	
}

p.lower-title{
	padding-top: 4px;
	font-size: 44px
}
header a p{
	font-size: 40px;
	padding: 100px auto;
	margin: 10px auto;
	position: relative;
	color: black;
	line-height: 20px;
}

/* Navigation bar */

#menu{
	height: 174px;
	background: transparent;
	border: 5px solid black;
	border-left: 0px;
	border-right: 0px;
	margin: 0 auto;
	padding: 0;	
	list-style: none;
	position: absolute;
	text-align: center;
	z-index: 1;
	width: 100%;

}

nav {
	text-align: center;
	height: 185px;
	width: 71.5%;
	margin-left: 293px;
    margin-right: 20px;
    position: relative;
}

nav ul:after {
	content: '';
	display: block;
	clear: both;
}

.menu-item{
	display: inline-block;
	padding: 77px 38px;
}

.menu-item-title{

	padding: 0px 63px;
	color: black;

}

nav ul li a:hover{
	display: block;
}

nav ul li:hover > ul{
	display: block;
}

nav ul li:hover {
	background:none repeat scroll 0 0 #a4d8f4;	
}

	
nav ul li a {
	display: block; 
	padding: 14.5px 40px;
	color: black; 
	text-decoration: none;
}

.dropdown-menu {
	background: none repeat scroll 0 0 #5F6975;  
	padding: 0;
	margin-top: 82px;
	position: fixed; 
	z-index: 2;
}

.dropdown-menu{
	display: none;
}

.dropdown-menu-item {
	float: right;
	position: relative;
	margin: 4px;
	list-style: none
}

.dropdown-menu-item a {
	padding: 15px 59px;
	color: black;
}

nav ul ul li a:hover {
	background:none repeat scroll 0 0 #a4d8f4;
}



/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content-wrapper {
    position: static;
    height: 100%;
    width: 100%;
    border: 0 5px 0 5px solid black;
	text-align: center;



}
#content {
    background-color: white;
    width: 95%;
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;


}

/*********************************************************************************/
/* Map Canvas                                                                   */
/*********************************************************************************/

#map_canvas, #map-canvas{      
      width: 97%;
      height: 542px;
      background-color: #CCCCCC;
      margin: 15px auto;
    }

    .style {
    height: 80%;
    margin: 10px;
    overflow: hidden;
    border: 5px solid black;
}

#checkbox{
	position: absolute;
	background-color: white;
	top: 49px;
	left: 718px;
	width: 30%;
    height: 200px;
    margin: 10px auto;
    padding: 18px 0 18px 18px;
    z-index: 1;
    border-radius: 23px 0 0 23px;
    font-size: 15px;

    }

/*********************************************************************************/
/* Buttons design                                                                */
/*********************************************************************************/

